/* Add here all your css styles (customizations) */
.align-center{
    text-align: center;
}

html, body{
    width: 100%;
    height: 100%;
    background-image: url("https://images.typeform.com/images/dfRD8mmD2E6M/background/large");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main{
    /* position: absolute; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.7);
}

.overlay img{
    width: 100%;
    height: 100%;
}

.buttons{
    position: relative;
    z-index: 10;
}